#programacao {
  padding: 120px 0;
  background-image: url('/site/assets/img/programacao-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#programacao h2 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  #programacao h2 {
    font-size: 1.2rem;
  }
}

#programacao .swiper {
  width: 100%;
  max-width: 700px;
}

#programacao .swiper .swiper-slide > span {
  font-family: 'Staatliches', sans-serif;
  font-size: 6rem;
  line-height: 96.5%;
}

@media (max-width: 575.98px) {
  #programacao .swiper .swiper-slide > span {
    font-size: 4rem;
  }
}

#programacao .swiper .swiper-slide img {
  border-radius: 44px;
}

#programacao .info-culto {
  position: absolute;
  background-image: url('/site/assets/img/info-culto-bg.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top left;
  width: 320px;
  border-radius: 35px;
  bottom: 0;
  left: 160px;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  #programacao .info-culto {
    left: 0;
  }
}

@media (max-width: 991.98px) {
  #programacao .info-culto {
    position: static;
    border-radius: 4px;
  }
}

#programacao .info-culto span:first-child {
  font-weight: 800;
}

#programacao .info-culto span {
  font-size: 1.6rem;
}

@media (max-width: 575.98px) {
  #programacao .info-culto span {
    font-size: 1.2rem;
  }
}

#programacao button.swiper-button-custom {
  position: absolute;
  border: none;
  right: 235px;
  bottom: 0;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background: #D9D9D9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#programacao .swiper-button-custom#swiper-button-prev-custom {
  bottom: 60px;
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  #programacao button.swiper-button-custom {
    right: calc(50% - 415px);
  }
}

@media (max-width: 991.98px) {
  #programacao button.swiper-button-custom {
    position: static;
  }
}

#programacao .swiper-pagination-bullet {
  background: #d6d6d6;
}

#programacao .swiper-pagination-bullet-active {
  background: #fff;
}
