nav * {
  font-family: 'Staatliches', sans-serif;
}

nav {
  height: 110px;
  background: rgba(14, 14, 14, 0.50);
  transition: .4s;
}

.nav-link {
  font-size: 1.7rem;
  color: #fff;
}

.nav-link.active, .nav-link:hover, .nav-link:focus {
  color: #9d9d9d !important;
}
